/************************
 * resources/mixins
 ************************/

@mixin container {
	padding: 2.75em 6.667vw 4em;
	background: hsla(0, 0%, 100%, 0.9625);
	box-shadow:
		0.5em 0 0.625em -0.5em #333,
		0 0.5em 0.625em -0.5em #333,
		-0.5em 0 0.625em -0.5em #333;

	@media (min-width: 1024px), print { padding-bottom: 5em; }

	@media (min-width: 1280px), print {
		$maxWidthPadding: calc(50% - 640px + 6em);
		padding: 4em $maxWidthPadding 6em;
	}

	@media (min-width: 2560px), print and (orientation: landscape) {
		width: 66.667%;
		$padding: calc((1/3)*100% - 640px + 6em);
		padding-right: $padding;
		padding-left: $padding;
	}
}

@mixin display-flex {
	display: -webkit-flex;
	display: flex;
}

@mixin flex($property_vals) {
	@each $property, $value in $property_vals {
		@if $property == display {
			@if $value == flex {
				display: -ms-grid;
			}
			@else if $value == inline-flex {
				display: -ms-inline-grid;
			}
			display: -webkit-#{$value};
		}
		@else {
			@if index((flex, flex-direction, flex-wrap, order), $property) {
				-ms-#{$property}: $value;
			}
			@if index((align-content, align-self, align-items, flex, flex-grow, flex-shrink, flex-basis, flex-direction, flex-flow, flex-wrap, justify-content, order), $property) {
				-webkit-#{$property}: $value;
			}
		}
		#{$property}: $value;
	}	
}

@mixin webkit($property, $value) {
	-webkit-#{$property}: $value;
	$property: $value;
}

@mixin transform($properties...) {
	-webkit-transform: $properties;
	-moz-transform: $properties;
	-o-transform: $properties;
	transform: $properties;
}

@mixin transition($properties...) {
	-webkit-transition: $properties;
	-moz-transition: $properties;
	-o-transition: $properties;
	transition: $properties;
}